<div class="main-area">
  <div class="top-bar">
    <h1 class="top-bar-title">Dashboard</h1>
    <div class="top-bar-actions">
      <%= link_to "Add an expense", new_expense_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
